#calculator {
}

.button {
    font-size: 26px;
    background-color: white;
    color: black;
}

.button:hover {
    background-color: rgb(255, 255, 255, 0.5);
    color: rgb(0, 0, 0, 0.5);
}

.buttonOperator {
    background-color: yellow;
    color: black;
}

.buttonOperator:hover {
    background-color: rgb(255, 255, 0, 0.5);
    color: rgb(0, 0, 0, 0.5);
}

.buttonEqual {
    background-color: orange;
    color: white;
}

.buttonEqual:hover {
    background-color: rgb(255, 165, 0, 0.5);
    color: rgb(255, 255, 255, 0.5);
}

#display {
    border-radius: 12px;
    font-family: "Orbitron", sans-serif;
}
